@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar: rgb(49 46 129);
  --footer: rgb(129, 46, 112);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* *&:focus{
	border: 1px solid white;
} */
